<% employees.each do |employee| %>
  <div id="delete_employee">
    <tr>
      <td>
        <%= employee.fullname %>
      </td>
      <td>
        <%= employee.address %>
      </td>
      <td>
        <%= employee.city %>
      </td>
      <td>
        <%= employee.dob %>
      </td>
      <td>
        <%= employee.mobile %>
      </td>
      <td>
        <%= link_to  "#", { "data-toggle" => "modal", :class => "model-update-id", "data-id" => employee.id} do %>
          Edit
        <% end %>
        /
        <%= link_to  "Delete", employee_path(employee), method: :delete, data: {confirm: "Are you sure? delete the Employee"} %>
      </td>
      <!-- // Modal -->
      <span class="employee_show_modal"></span>
      <span class="employee_edit_modal"></span>
    </tr>
  </div>
<% end %>
